.theme-toggle {
    position: fixed;
    bottom: 20px;
    right: 5px;
    padding: 12px 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1000; 
  }
  
  

.btn { 
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease; /* Smooth transition for transform and background-color */
}

.btn:hover {
  transform: scale(1.2); 
}
